html {
    height: 100%;
}
body {
    background-image: url('../images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100%;
}

img {
    width: 150px;
    height: 100px;
    padding: 0 15px;
}

.character {
    background: transparent;
    border: 5px solid;
    border-color: inherit;
    border-radius: 2px;
    text-align: center;
    float: left;
    margin-right: 2px;

}

.clearfix{
   content: '';
   clear: both;
   display: table;
}

#enemies, #defender {
    border-color: red;
    height: 145px;
}

#yourCharacter {
    border-color: green;
}